<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="traceLayout"
            value="${longdate} => ${level:uppercase=true} | ${message} | ${onexception:EXCEPTION OCCURRED\:${Exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5}}" />
  <!-- the targets to write to -->
  <targets>
    <target name="Trace" xsi:type="Trace" layout="${traceLayout}" />

    <target name="database" type="Database">
      <connectionString>${var:connectionString}</connectionString>

      <commandText>
        INSERT INTO [dbo].[Log]
        (MachineName, Logged, Level, Message,
        Logger, Callsite, Exception)
        VALUES
        (@MachineName, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception);
      </commandText>

      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Error" appendTo="database" />
    <logger name="*" minlevel="Info" appendTo="database" />
    <logger name="*" minlevel="Debug" appendTo="Trace" />
  </rules>
</nlog>